*{
 padding: 0px;
}


img{
  height: 25px;
  width: 25px;
}

#curriculo{


width: 800px;


}
.titulo{
background-color: grey;
margin: 0px;
}
.nome{

  float: left;

}
.contatos{
  text-align: right;
  float: right;
}
.limparfloat{
clear: both;
}
.body{
  background-color: blue;
  padding-top: 0px;
}
