*{
 padding: 0px;
 margin: 0px;
}


img{
  height: 25px;
  width: 25px;
}

#curriculo{
font-family: 'Signika', sans-serif;
width: 800px;
margin:auto auto;
background-color: #DCDCDC;

}
.titulo{
background-color: #E4E4E4;
margin-top: 0px;

}
.nome{
  margin-top: 20px;
  margin-left: 75px;
  float: left;
  font-size: 30px;
}
.contatos{
  margin-top: 25px;
  margin-right: 10px;
  text-align: right;
  float: right;
  margin-bottom: 20px;
}
.limparfloat{
clear: both;
}
body{
  background-color: #000000;
}


.objetivo{
margin-top: 20px;
  margin-left: 80px;
}
.experiencia, .educação, .habilidades, .atividades{
  margin-top: 50px;
  margin-left: 80px;
}

.Contobj, .ContExper, .ContHabil, .ContAtivi{
  margin-left: 35px;
  margin-top: 5px;
  text-align:justify;
  margin-right: 50px;
}
.ContEducação1{
  margin-left: 35px;
  margin-top: 20px;
  text-align:justify;
}
.ContEducação2{
  margin-left: 35px;
  margin-top: 20px;
  text-align:justify;
}
